<div
  class="h-3rem bg-blue-500 flex align-content-center justify-content-end px-10 gap-3"
>
  <div
    class="text-2xl flex align-items-center font-bold text-white cursor-pointer hover:underline"
  >
    {{ "Login" | uppercase }}
  </div>
  <div
    class="text-2xl flex align-items-center font-bold text-white cursor-pointer hover:underline"
  >
    {{ "Signup" | uppercase }}
  </div>
</div>

<p-carousel
  [value]="images"
  [numVisible]="1"
  [numScroll]="2"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-item pTemplate="item">
    <p-image [src]="item" alt="Image" width="100%" height="80%"></p-image>
  </ng-template>
</p-carousel>

<app-custom-modal></app-custom-modal>