/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// theme
@import "theme/theme.css";
// primeNG
@import "../../node_modules/primeflex/primeflex.scss";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
