* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

.wrapper {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #e53935;
  
}

.bg-image {
    /* The image used */
    // background-image: url("../../assets/img/food1.jpg");
    
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
