<div class="" [formGroup]="loginForm">
  <div class="flex flex-column gap-2">
    <div class="grid w-full justify-content-between align-items-center">
      <app-form-label
        class="col-3"
        [labelText]="'HomeModule.SignIn.EmailLbl' | transloco"
        [labelClass]="customInputClass"
      ></app-form-label>
      <app-text-input
        class="col-9"
        [control]="getLoginFormControl['email'] | formControl"
        [customClasses]="customInputClass"
        [placeholder]="'HomeModule.SignIn.EmailPlaceholder' | transloco"
      ></app-text-input>
      <app-form-label
        class="col-3"
        [labelText]="'HomeModule.SignIn.PasswordLbl' | transloco"
        [labelClass]="customInputClass"
      ></app-form-label>
      <p-password
        class="custom-password-login col-9"
        styleClass="text-sm font-medium"
        [formControl]="getLoginFormControl['password'] | formControl"
        [feedback]="false"
        [placeholder]="'HomeModule.SignIn.PasswordPlaceholder' | transloco"
        [toggleMask]="true"
      ></p-password>
    </div>
  </div>
</div>
